<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EAG_TeknikResimDamgalama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <EAG_TeknikResimDamgalama.Properties.Settings>
            <setting name="Form1Size" serializeAs="String">
                <value>816, 489</value>
            </setting>
            <setting name="splitContainer1SplitterDistance" serializeAs="String">
                <value>247</value>
            </setting>
            <setting name="splitContainer2SplitterDistance" serializeAs="String">
                <value>161</value>
            </setting>
            <setting name="Form2textBox1Font" serializeAs="String">
                <value>Tahoma, 8.25pt, style=Bold</value>
            </setting>
            <setting name="Form2comboBox1SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form2panel1BackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Form2textBox3Text" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Form2textBox2Text" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Form2panel2BackColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="Form2textBox1Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Form2Size" serializeAs="String">
                <value>575, 448</value>
            </setting>
            <setting name="Form2splitContainer1SplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PdfiumDllPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Form2InsertKey" serializeAs="String">
                <value>Ins</value>
            </setting>
            <setting name="Form2DeleteKey" serializeAs="String">
                <value>Del</value>
            </setting>
            <setting name="Form2NoText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form2NoShape" serializeAs="String">
                <value>False</value>
            </setting>
        </EAG_TeknikResimDamgalama.Properties.Settings>
    </userSettings>
  
</configuration>
